# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:XXXX/db_name?schema=public"
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=bookflix_db

# Database Test
POSTGRES_USER_TEST=bookflix_test
POSTGRES_PASSWORD_TEST=bookflix_test_secret
DATABASE_URL_TEST="postgresql://POSTGRES_USER_TEST:POSTGRES_PASSWORD_TEST@localhost:5433/bookflix_test?schema=public"

# JWT
JWT_SECRET=change_this_in_production
JWT_EXPIRES_IN=7d

# Google Books API
GOOGLE_BOOKS_API_KEY=your_google_books_api_key_here
GOOGLE_BOOKS_API_URL=https://www.googleapis.com/books/v1