# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:XXXX/db_name?schema=public"
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=bookflix_db

# JWT
JWT_SECRET=change_this_in_production
JWT_EXPIRES_IN=7d

# Google Books API
GOOGLE_BOOKS_API_KEY=your_google_books_api_key_here
GOOGLE_BOOKS_API_URL=https://www.googleapis.com/books/v1